<div class="modal-header">
  <h5 class="modal-title">{{ isEdit ? 'Edit Session' : 'Create Session' }}</h5>
  <button type="button" class="btn-close" (click)="cancelSession()" [disabled]="submitting"></button>
</div>
<div class="modal-body" [formGroup]="form">
  <!-- <div class="form-group mb-3">
    <label class="form-label" for="name">
      Session Name
      <span class="text-danger">*</span>
    </label>
    <input
      id="name"
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Session Name"
      [ngClass]="{ 'is-invalid': isFormInvalid(form, 'name') }"
      [disabled]="isVeteran || submitting"
    />
    <div class="invalid-feedback" *ngIf="isFormInvalid(form, 'name')">Session name is required.</div>
  </div>

  <div class="form-group mb-3">
    <label class="form-label" for="note">Session Note</label>
    <textarea
      id="note"
      class="form-control"
      formControlName="note"
      placeholder="Session Note"
      [disabled]="isVeteran || submitting"
    ></textarea>
  </div> -->

  <div class="form-group mb-3">
    <label class="form-label" for="status">
      Status
      <span class="text-danger">*</span>
    </label>
    <select
      id="status"
      class="form-control"
      formControlName="status"
      [ngClass]="{ 'is-invalid': isFormInvalid(form, 'status') }"
      [disabled]="true"
    >
      <option [ngValue]="SessionStatus.COMPLETED">Completed</option>
      <option [ngValue]="SessionStatus.INCOMPLETE">Incomplete</option>
    </select>
    <div class="invalid-feedback" *ngIf="isFormInvalid(form, 'status')">Status is required.</div>
  </div>

  <div class="form-group mb-3">
    <label class="form-label" for="date">
      Date
      <span class="text-danger">*</span>
    </label>
    <input
      id="date"
      type="datetime-local"
      class="form-control"
      formControlName="date"
      [ngClass]="{ 'is-invalid': isFormInvalid(form, 'date') }"
      [disabled]="isVeteran || submitting"
    />
    <div class="invalid-feedback" *ngIf="isFormInvalid(form, 'date')">Session date is required.</div>
  </div>

  <div class="form-group mb-3" *ngIf="!isAdmin">
    <label class="form-label">Photographer</label>
    <div class="card p-2">
      <p>{{ getFullName(session?.photographer.firstName, session?.photographer.lastName) }}</p>
      <p>{{ session?.photographer.email }}</p>
      <p>{{ session?.photographer.phoneNumber }}</p>
      <p>
        {{
          getLocationText(
            session?.photographer.streetAddress1,
            session?.photographer.city,
            session?.photographer.state,
            session?.photographer.postalCode,
            session?.photographer?.streetAddress2
          )
        }}
      </p>
    </div>
  </div>

  <div class="form-group mb-3" *ngIf="isAdmin">
    <label class="form-label">Photographer</label>
    <ng-select
      [items]="photographerList"
      bindLabel="fullName"
      bindValue="id"
      placeholder="Search Photographer..."
      formControlName="photographerId"
      [searchable]="true"
      [searchFn]="searchUser"
      [ngClass]="{ 'is-invalid': isFormInvalid(form, 'photographerId') }"
      [disabled]="submitting"
    >
      <ng-template ng-option-tmp let-item="item">
        <strong>{{ item.fullName }}</strong>
        <br />
        <small>{{ item.email }}</small>
        <br />
        <small>{{ item.phoneNumber }}</small>
        <br />
        <small>{{ item.location }}</small>
      </ng-template>
    </ng-select>
    <div class="invalid-feedback" *ngIf="isFormInvalid(form, 'photographerId')">Photographer is required.</div>
  </div>

  <div class="form-group mb-3" *ngIf="!isVeteran">
    <label class="form-label">
      Session Outcome
      <span class="text-danger">*</span>
    </label>
    <div class="form-check">
      <input
        id="phbp"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.PHOTOS_HAVE_BEEN_PROVIDED_TO_THE_PATRIOT"
        formControlName="outcomePhotographer"
        [disabled]="true"
      />
      <label class="form-check-label" for="phbp">Photos have been provided to the Patriot</label>
    </div>
    <div class="form-check">
      <input
        id="phnp"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.PHOTOGRAPHER_HAS_NOT_PROVIDED_PHOTOS_YET"
        formControlName="outcomePhotographer"
        [disabled]="true"
      />
      <label class="form-check-label" for="phnp">Photographer has not provided photos yet</label>
    </div>
    <div class="form-check">
      <input
        id="pdns"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.PATRIOT_DID_NOT_SHOW_UP_FOR_APPOINTMENT"
        formControlName="outcomePhotographer"
        [disabled]="true"
      />
      <label class="form-check-label" for="pdns">Patriot did not show up for appointment</label>
    </div>
    <div class="form-check">
      <input
        id="ncut"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.NO_COMMUNICATION_UNABLE_TO_SCHEDULE"
        formControlName="outcomePhotographer"
        [disabled]="true"
      />
      <label class="form-check-label" for="ncut">No communication, unable to schedule</label>
    </div>
    <div class="form-check">
      <input
        id="other"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.OTHER"
        formControlName="outcomePhotographer"
        [disabled]="true"
      />
      <label class="form-check-label" for="other">Other</label>
    </div>
    <input
      type="text"
      *ngIf="form.get('outcomePhotographer').value === SessionOutcome.OTHER"
      class="form-control mt-2"
      placeholder="Please type another option here"
      formControlName="otherOutcomePhotographer"
      [disabled]="true"
    />
    <div class="invalid-feedback d-block" *ngIf="isFormInvalid(form, 'outcomePhotographer')">Please select session outcome.</div>
  </div>

  <div class="form-group mb-3" *ngIf="!isVeteran">
    <label class="form-label">
      How would you rate this session?
      <span class="text-danger">*</span>
    </label>
    <select
      id="ratePhotographer"
      class="form-control"
      formControlName="ratePhotographer"
      [ngClass]="{ 'is-invalid': isFormInvalid(form, 'ratePhotographer') }"
      [disabled]="isVeteran || submitting"
    >
      <option [ngValue]="null">--</option>
      <option *ngFor="let num of [].constructor(10); let i = index" [ngValue]="i + 1">
        {{ i + 1 }}
      </option>
    </select>
    <div class="invalid-feedback" *ngIf="isFormInvalid(form, 'ratePhotographer')">Rate is required.</div>
  </div>

  <div class="form-group mb-3" *ngIf="!isVeteran">
    <label class="form-label" for="photographerFeedback">
      (Optional) Would you like to provide any additional comments about the session?
    </label>
    <textarea
      id="photographerFeedback"
      class="form-control"
      formControlName="photographerFeedback"
      placeholder="Photograhper Feedback"
      [disabled]="isVeteran || submitting"
    ></textarea>
  </div>

  <div class="form-group mb-3">
    <label class="form-label">Client</label>
    <ng-select
      [items]="veteranList"
      bindLabel="fullName"
      bindValue="id"
      placeholder="Search Client..."
      formControlName="veteranId"
      [searchable]="true"
      [searchFn]="searchUser"
      [ngClass]="{ 'is-invalid': isFormInvalid(form, 'veteranId') }"
      [disabled]="isVeteran || submitting"
    >
      <ng-template ng-option-tmp let-item="item">
        <strong>{{ item.fullName }}</strong>
        <br />
        <small>{{ item.email }}</small>
        <br />
        <small>{{ item.phoneNumber }}</small>
        <br />
        <small>{{ item.location }}</small>
      </ng-template>
    </ng-select>
    <div class="invalid-feedback" *ngIf="isFormInvalid(form, 'veteranId')">Client is required.</div>
  </div>

  <div class="form-group mb-3" *ngIf="!isPhotographer">
    <label class="form-label">
      Session Outcome
      <span class="text-danger">*</span>
    </label>
    <div class="form-check">
      <input
        id="phbp"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.PHOTOS_HAVE_BEEN_PROVIDED_TO_THE_PATRIOT"
        formControlName="outcomeVeteran"
        [disabled]="isPhotographer || submitting"
      />
      <label class="form-check-label" for="phbp">Photos have been provided to the Patriot</label>
    </div>
    <div class="form-check">
      <input
        id="phnp"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.PHOTOGRAPHER_HAS_NOT_PROVIDED_PHOTOS_YET"
        formControlName="outcomeVeteran"
        [disabled]="isPhotographer || submitting"
      />
      <label class="form-check-label" for="phnp">Photographer has not provided photos yet</label>
    </div>
    <div class="form-check">
      <input
        id="pdns"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.PATRIOT_DID_NOT_SHOW_UP_FOR_APPOINTMENT"
        formControlName="outcomeVeteran"
        [disabled]="isPhotographer || submitting"
      />
      <label class="form-check-label" for="pdns">Patriot did not show up for appointment</label>
    </div>
    <div class="form-check">
      <input
        id="ncut"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.NO_COMMUNICATION_UNABLE_TO_SCHEDULE"
        formControlName="outcomeVeteran"
        [disabled]="isPhotographer || submitting"
      />
      <label class="form-check-label" for="ncut">No communication, unable to schedule</label>
    </div>
    <div class="form-check">
      <input
        id="other"
        class="form-check-input"
        type="radio"
        [value]="SessionOutcome.OTHER"
        formControlName="outcomeVeteran"
        [disabled]="isPhotographer || submitting"
      />
      <label class="form-check-label" for="other">Other</label>
    </div>
    <input
      type="text"
      *ngIf="form.get('outcomeVeteran').value === SessionOutcome.OTHER"
      class="form-control mt-2"
      placeholder="Please type another option here"
      formControlName="otherOutcomeVeteran"
      [disabled]="true"
    />
    <div class="invalid-feedback d-block" *ngIf="isFormInvalid(form, 'outcomeVeteran')">Please select session outcome.</div>
  </div>

  <div class="form-group mb-3" *ngIf="!isPhotographer">
    <label class="form-label">
      How would you rate this session?
      <span class="text-danger">*</span>
    </label>
    <select
      id="rateVeteran"
      class="form-control"
      formControlName="rateVeteran"
      [ngClass]="{ 'is-invalid': isFormInvalid(form, 'rateVeteran') }"
      [disabled]="isPhotographer || submitting"
    >
      <option [ngValue]="null">--</option>
      <option *ngFor="let num of [].constructor(10); let i = index" [ngValue]="i + 1">
        {{ i + 1 }}
      </option>
    </select>
    <div class="invalid-feedback" *ngIf="isFormInvalid(form, 'rateVeteran')">Rate is required.</div>
  </div>

  <div class="form-group mb-3" *ngIf="!isPhotographer">
    <label class="form-label" for="veteranFeedback">(Optional) Would you like to provide any additional comments about the session?</label>
    <textarea
      id="veteranFeedback"
      class="form-control"
      formControlName="veteranFeedback"
      placeholder="Client Feedback"
      [disabled]="isPhotographer || submitting"
    ></textarea>
  </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveSession()" [disabled]="submitting">
    {{ submitting ? 'Saving...' : isEdit ? 'Update' : 'Create' }}
  </button>
  <button type="button" class="btn btn-secondary" (click)="cancelSession()" [disabled]="submitting">Cancel</button>
</div> -->
