<div class="modal fade" [ngClass]="{ show: true }" style="display: block" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="btn-close" (click)="cancelPassword()" [disabled]="submitting"></button>
      </div>
      <div class="modal-body" [formGroup]="form">
        <div class="form-group mb-3">
          <label class="form-label" for="password">
            Password
            <span class="text-danger">*</span>
          </label>
          <input
            id="password"
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            [ngClass]="{ 'is-invalid': isFormInvalid(form, 'password') }"
            [disabled]="submitting"
          />
          <div class="invalid-feedback" *ngIf="isFormInvalid(form, 'password')">
            {{ isFormError(form, 'password', 'minlength') ? 'Min 6 characters.' : 'Password is required.' }}
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-label" for="passwordConfirm">
            Confirm Password
            <span class="text-danger">*</span>
          </label>
          <input
            id="passwordConfirm"
            type="password"
            class="form-control"
            formControlName="passwordConfirm"
            placeholder="Confirm Password"
            [disabled]="submitting"
          />
          <small class="text-danger" *ngIf="form.errors?.['passwordsMismatch'] && (f['passwordConfirm'].touched || f['password'].touched)">
            Passwords do not match
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="savePassword()" [disabled]="submitting">
          {{ submitting ? 'Saving...' : 'Save' }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="cancelPassword()" [disabled]="submitting">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
